@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to my Application</h2>
        <p>
            This was created using Entity Framework - Code First. 
            There is a 'Seed' method that populates some dummy customers and orders to create an invoice for the purpose of viewing this application.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Built from scratch</h2>
        <p>
            Select 'Customers' from the link in the top to view Customers, then you can select the customer to view their orders. 
            I added a link to 'Add Customers' just to show the Create logic.
            Then on the Order page for Customer you can click to view the invoice for this customer.

        </p>

    </div>

</div>

